html{
	scroll-behavior: smooth;
}

body{
	background-color: #292929;
	margin: 3rem 0 0 0;
	font-family: 'poppins',sans-serif;
	font-size: 0.938rem;
	color: #fff;
}

h1,h2,p{
	margin: 0;
}

ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

a{
	text-decoration: none;
}

img{
	max-width: 100%;
	height: auto;
	display: block;
}
.section{
	padding-top: 3rem;
	padding-bottom: 2rem;
}
.section_title{
	position: relative;
	font-size: 1.25rem;
	color: #4070f4;
	margin-top: 1rem;
	margin-bottom: 2rem;
	text-align: center;
}
.section_title::after{
	position: absolute;
	content: "";
	width: 64px;
	height: 0.18rem;
	left: 0;
	right: 0;
	margin: auto;
	top: 2rem;
	background-color: #4070f4;
}

/*layout*/

.bd-grid{
	max-width: 1024px;
	display: grid;
	grid-template-columns: 100%;
	grid-column-gap: 2rem;
	width: calc(100% - 2rem);
	margin-left: 1rem;
	margin-right: 1rem;
}

.header{
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	background-color: #292929;
	box-shadow: 0 1px 4px rgba(146, 161, 176, .15);
}

/*nav*/

.nav{
	height: 4rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	/*align-items: center;*/
	font-weight: 600;
}
.nav_list{
	display: flex;
	padding: 0;
}
.nav_item{
	/*margin-left: 3rem;*/
	/*margin-bottom: 2rem;*/
}
.nav_link{
	position: relative;
	margin-left: 1.6rem;
	color: #fff;
}
.nav_link:hover{
	position: relative;
}
.nav_link:hover::after{
	position: absolute;
	content: "";
	width: 100%;
	height: 0.18rem;
	left: 0;
	top: 1rem;
	background-color: #4070f4;
}
.nav_logo{
	color: #fff;
	font-size: 1.5rem;
	cursor: pointer;
}
.nav_menu{
	align-self: center;
}


.main{
	margin-top: 4rem;
}



.home{
	height: calc(100vh - 3rem);
	row-gap: 1rem;
}
.home_data{
	align-self: center;
}
.home_title{
	font-size: 2rem;
}
.home-title-color{
	color: #4070f4;
}
.home_social{
	display: flex;
	flex-direction: column;
}
.home_social_icon{
	width: max-content;
	margin-bottom: 1rem;
	font-size: 1.5rem;
	color: #fff;
}
.home_social_icon:hover{
	color: #4070f4;
}
.home_img{
	position: absolute;
	right: 0;
	bottom: 0;
	width: 295px;
}

.button{
	display: inline-block;
	background-color: #4070f4;
	color: #fff;
	padding: .75rem 2.5rem;
	font-weight: 600;
	border-radius: .5rem;
}
.button:hover{
	box-shadow: 0 10px 36px rgba(0, 0, 0, .15);
}
.home-btn{
	margin-top: 2rem;
}

.about_container{
	row-gap: 2rem;
	text-align: center;
}
.about_subtitle{
	margin-bottom: 1rem;
}
.about_img{
	justify-self: center;
}
.about_img img{
	width: 200px;
	border-radius: .5rem;
}


.skills_container{
	row-gap: 2rem;
	text-align: center;
}
.skills_subtitle{
	margin-bottom: 1rem;
}
.skills_text{
	margin-bottom: 2rem;
}
.skills_data{
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	font-weight: 600;
	padding: .5rem 1rem;
	margin-bottom: 2rem;
	border-radius: .5rem;
	background-color: #121212;
	box-shadow: 0 4px 25px rgba(4, 36, 49, .15);
}
.skills_icon{
	font-size: 2rem;
	margin-right: 1rem;
	color: #4070f4;
}
.skills_names{
	display: flex;
	align-items: center;
}
.skills_bar{
	position: absolute;
	left: 0;
	bottom: 0;
	background-color: #4070f4;
	height: .25rem;
	border-radius: .5rem;
	z-index: 1;
}
.skills_html{
	width: 95%;
}
.skills_css{
	width: 80%;
}
.skills_js{
	width: 75%;
}
.skills_bootstrap{
	width: 85%;
}
.skills_img{
	border-radius: .5rem;
}

.work_container{
	row-gap: 2rem;
}
.work_img{
	box-shadow: 0 4px 25px rgba(14, 36, 49, .15);
}
.work_img img{
	transition: 1s;
	cursor: pointer;
}
.work_img img: hover{
	transform: scale(1.1);
}

.contact_input{
	width: 93%;
	font-size: .938rem;
	font-weight: 600;
	padding: 1rem;
	border-radius: .5rem;
	border: 1px solid #0e2431;
	outline: none;
	margin-bottom: 2rem;
}
.contact_button{
	display: block;
	border: none;
	outline: none;
	font-size: .938rem;
	cursor: pointer;
	margin-left: auto;
}
.footer{
	background-color: #0e2431;
	color: #fff;
	text-align: center;
	font-weight: 600;
	padding: 2rem 0;
}
.footer_title{
	font-size: 2rem;
	margin-bottom: 2rem;
}

@media(min-width: 768px){
	body{
		margin: 0;
	}
	.section{
	padding-top: 4rem;
	padding-bottom: 3rem;
    }
    .section_title{
	margin-bottom: 2rem;
    }
    .section_title::after{
    	width: 80px;
    	top: 2rem;
    }
    .nav{
    	flex-direction: row;
    	align-items: center;
    	height: 3rem;
    }
    .nav_item{
    	margin-left: 3rem;
    	margin-bottom: 0;
    }
    .nav_link{
    	color: #fff;
    }
    .home{
    	height: 100vh;
    }
    .home_data{
    	align-self: flex-end;
    }
    .home_social_icon{
    	margin-bottom: 0;
    	margin-right: 2rem;
    }
    .home_img{
    	width: 457px;
    	margin-bottom: 2rem;
    }
    .about_container,.skills_container{
    	grid-template-columns: 1fr 1fr;
    	align-items: center;
    	text-align: initial;
    }
    .about_img img{
    	width: 300px;
    }
    .work_container{
    	grid-template-columns: 1fr 1fr 1fr;
    }
    .contact_form{
    	width: 360px;
    }
    .contact_container{
    	justify-items: center;
    }
    .main{
    	margin-top: 0;
    }
    .home-btn{
    	margin-top: 2rem;
    	margin-bottom: 2rem;
    }
    .home_social_icon{
    	font-size: 2rem;
    	margin-bottom: 2rem;
    }
}

@media(min-width: 1024px){
	.bd-grid{
		margin-left: auto;
		margin-right: auto;
	}
	.home_img{
		right: 10%;
	}
}